.modal-backdrop.show {
    opacity: .4;
    z-index: 1;
}
.cart-model-dialog {
    height: 91.5vh;
    border-radius: 0px;
    margin-top: 56px;
    right: 3px;
}

svg.cart-svg {
    margin-top: -4px;
}

.checkout-button {
    width: 415px;
    height: 40px;
    left: 850px;
    top: 856px;
    background: #ffe36573;
    /* opacity: 0.4; */
    border-radius: 2px;
    transition: var(--transition);
    font-family: var(--karla);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 3em;
    /* identical to box height, or 171% */
    /* display: flex; */
    align-items: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #101010;
    text-align: center;
}

.checkout-button:hover,
.checkout-button:active {
    background: rgb(255 195 41 / 70%);
    opacity: 1;
    transition: var(--transition);
}

.product-cart {
    /* width: 68%; */
    width: 100%;
    background: #FFFFFF;
    box-shadow: 3px 3px 15px rgb(0 0 0 / 4%);
    border-radius: 2px;
    text-align: center;
}

.inner-card {
    padding: 10px 49px;
}

.inner-card.cart-procucts {
    padding: 10px;
}

.bottom-card {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.inner-card p {
    font-family: var(--karla);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    /* or 121% */
    text-align: center;
    color: #000000;
}

.inner-card span {
    font-family: var(--karla);
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #101010;
    opacity: 0.5;
}

.product-cart-slider.owl-loaded.owl-drag .owl-stage-outer .owl-stage {
    width: 100%;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto;
    /* background: #eaeaea; */
    border-radius: 10px;
    padding: 0rem 0.4rem;
    /* margin-top: 4rem; */
}

.quantity-btn {
    background: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0px 8px;
    cursor: pointer;
}

.quantity-btn svg {
    width: 15px;
    height: 15px;
}

.quantity-input {
    outline: none;
    user-select: none;
    text-align: center;
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.quantity-input.quantity-number {
    background: #ffe36573;
    border: 1px solid rgb(255 195 41 / 70%);
    border-radius: 5px;
    width: 36px;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
    /* position: absolute; */
    position: fixed;
    margin: auto;
    width: 460px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal-body.scroll-box {
    overflow-y: auto;
    height: 83vh;
}

.modal-header.red_cart {
    padding-bottom: 5px;
    padding-top: 11px;
}

.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 3px;
}

div#flotemodel {
    height: 91vh;
    margin-top: 56px;
}

.modal-body.scroll-box {
    /* overflow: hidden; */
    position: relative;
}


/* .modal-header.red_cart {
    padding-bottom: 0;
} */

.discount-head {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2D2C30;
    margin-bottom: 10px;
}

.yellow-themes {
    background-color: var(--l-yellow);
    border: 1px solid #ced4da;
    border-left: 1px solid transparent;
}

.yellow-themes:hover {
    background-color: var(--yellow);
}

.promocode-model {
    text-decoration-line: underline;
    color: #359E9E;
}

.over-card-pro-price {
    font-weight: bold;
    font-size: 12px !important;
    line-height: 24px !important;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .modal.left .modal-dialog,
    .modal.right .modal-dialog {
        width: 280px;
    }
    .modal.right.fade.show .modal-dialog {
        right: 0px;
        top: 60px;
    }
    .modal-body.scroll-box {
        overflow-y: auto;
        height: 84vh;
    }
    h4#myModalLabel2 {
        font-size: 18px;
    }
    .owl-item.product-cart-parent {
        /* width: 172px !important; */
        margin-right: 15px !important;
    }
    .inner-card p {
        font-size: 10px;
    }
    .product-cart {
        position: relative;
    }
    .col.text-left.align_change_mob-left {
        position: absolute;
        bottom: 9px;
    }
    .col.text-right.align_change_mob {
        width: 20%;
        float: right;
        top: 2px;
    }
    .row.mt-5.no-gaap-mob {
        margin-top: 22px !important;
    }
    .summery-head {
        font-size: 15px !important;
    }
    .main-submit {
        padding: 10px 0 !important;
    }
    .promocode-model {
        font-size: 14px;
    }
}


/* *********************** CART PAGE CSS START ***********************  */

.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timestamp {
    margin-bottom: 20px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
}

.status {
    padding: 0px 75px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;
}

.status h4 {
    font-family: var(--karla);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    color: #000000;
    margin-top: 20px;
}

.status:before {
    content: "";
    width: 61px;
    height: 34px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    /* top: -15px; */
    left: 36%;
    transition: all 200ms ease-in;
    top: -20px;
}

.li.complete .status {
    border-top: 0.5px dashed #000000;
    /* opacity: 0.5; */
}

.status.cart-status::before {
    content: "";
    width: 150px;
    height: 34px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    /* top: -15px; */
    left: -1%;
    transition: all 200ms ease-in;
    top: -20px;
}

.status.cart-status-three:before {
    content: "";
    width: 100%;
    height: 34px;
}

.li.complete .status:before {
    background-color: #ffe15b;
    border: none;
    transition: all 200ms ease-in;
}

.li.complete .status h4 {
    color: #000;
}

.active-status {
    font-weight: bolder;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
    .timeline {
        list-style-type: none;
        display: block;
    }
    .li {
        transition: all 200ms ease-in;
        display: flex;
        width: inherit;
    }
    .timestamp {
        width: 100px;
    }
    .status:before {
        left: -8%;
        top: 30%;
        transition: all 200ms ease-in;
    }
}

.timeline-product-pur {
    margin-top: 28px;
}

.cart-status::after {
    content: url('data:image/svg+xml;utf8,<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.01506 18.4001C7.16756 18.4001 7.31382 18.3395 7.42165 18.2317C7.52948 18.1238 7.59006 17.9776 7.59006 17.8251V13.9151C7.59006 13.7626 7.52948 13.6163 7.42165 13.5085C7.31382 13.4007 7.16756 13.3401 7.01506 13.3401C6.86256 13.3401 6.71631 13.4007 6.60848 13.5085C6.50064 13.6163 6.44006 13.7626 6.44006 13.9151V17.8251C6.44006 17.9776 6.50064 18.1238 6.60848 18.2317C6.71631 18.3395 6.86256 18.4001 7.01506 18.4001Z" fill="black"></path><path d="M10.005 18.4001C10.1575 18.4001 10.3037 18.3395 10.4116 18.2317C10.5194 18.1238 10.58 17.9776 10.58 17.8251V13.9151C10.58 13.7626 10.5194 13.6163 10.4116 13.5085C10.3037 13.4007 10.1575 13.3401 10.005 13.3401C9.85249 13.3401 9.70624 13.4007 9.59841 13.5085C9.49057 13.6163 9.42999 13.7626 9.42999 13.9151V17.8251C9.42999 17.9776 9.49057 18.1238 9.59841 18.2317C9.70624 18.3395 9.85249 18.4001 10.005 18.4001Z" fill="black"></path><path d="M12.9951 18.4001C13.1476 18.4001 13.2939 18.3395 13.4017 18.2317C13.5095 18.1238 13.5701 17.9776 13.5701 17.8251V13.9151C13.5701 13.7626 13.5095 13.6163 13.4017 13.5085C13.2939 13.4007 13.1476 13.3401 12.9951 13.3401C12.8426 13.3401 12.6964 13.4007 12.5885 13.5085C12.4807 13.6163 12.4201 13.7626 12.4201 13.9151V17.8251C12.4201 17.9776 12.4807 18.1238 12.5885 18.2317C12.6964 18.3395 12.8426 18.4001 12.9951 18.4001Z" fill="black"></path><path d="M15.9853 18.4001C16.1378 18.4001 16.284 18.3395 16.3919 18.2317C16.4997 18.1238 16.5603 17.9776 16.5603 17.8251V13.9151C16.5603 13.7626 16.4997 13.6163 16.3919 13.5085C16.284 13.4007 16.1378 13.3401 15.9853 13.3401C15.8328 13.3401 15.6865 13.4007 15.5787 13.5085C15.4709 13.6163 15.4103 13.7626 15.4103 13.9151V17.8251C15.4103 17.9776 15.4709 18.1238 15.5787 18.2317C15.6865 18.3395 15.8328 18.4001 15.9853 18.4001Z" fill="black"></path><path d="M20.93 11.8519V8.86195C20.9309 8.78586 20.9167 8.71035 20.8882 8.63979C20.8598 8.56923 20.8175 8.50502 20.7641 8.4509C20.7106 8.39677 20.6469 8.3538 20.5767 8.32447C20.5064 8.29514 20.4311 8.28004 20.355 8.28005H18.745L16.5347 3.91005C16.5347 3.89395 16.5186 3.87785 16.5094 3.86405C16.3365 3.59406 16.0984 3.37201 15.817 3.21844C15.5356 3.06487 15.22 2.98474 14.8994 2.98545H14.7798C14.6914 2.65622 14.4972 2.36523 14.227 2.15739C13.9568 1.94955 13.6257 1.83642 13.2848 1.83545H9.71521C9.37433 1.83642 9.04324 1.94955 8.77305 2.15739C8.50286 2.36523 8.30858 2.65622 8.22021 2.98545H8.11901C7.79312 2.98497 7.47234 3.06645 7.18617 3.22239C6.90001 3.37833 6.65766 3.60373 6.48141 3.87785C6.47386 3.89365 6.46541 3.90901 6.45611 3.92385L4.24811 8.28005H2.63811C2.48681 8.28187 2.34232 8.34325 2.23598 8.45088C2.12963 8.55852 2.07 8.70374 2.07001 8.85505V11.845C2.06992 11.8853 2.07455 11.9255 2.08381 11.9647L3.75131 19.1821C3.85795 19.6786 4.13217 20.1234 4.52794 20.4417C4.92371 20.7599 5.41693 20.9324 5.92481 20.93H17.0752C17.581 20.9334 18.0726 20.763 18.4678 20.4473C18.863 20.1317 19.1379 19.6899 19.2464 19.1959L20.9162 11.9739C20.9257 11.9339 20.9303 11.893 20.93 11.8519ZM9.31501 3.39025C9.31501 3.28411 9.35717 3.18232 9.43222 3.10727C9.50728 3.03221 9.60907 2.99005 9.71521 2.99005H13.2848C13.3909 2.99005 13.4927 3.03221 13.5678 3.10727C13.6428 3.18232 13.685 3.28411 13.685 3.39025V3.50985C13.685 3.61599 13.6428 3.71778 13.5678 3.79283C13.4927 3.86789 13.3909 3.91005 13.2848 3.91005H9.71521C9.60907 3.91005 9.50728 3.86789 9.43222 3.79283C9.35717 3.71778 9.31501 3.61599 9.31501 3.50985V3.39025ZM7.47501 4.47585C7.54747 4.37224 7.64383 4.28763 7.75593 4.22917C7.86804 4.17072 7.99258 4.14015 8.11901 4.14005H8.30071C8.42268 4.41346 8.62109 4.64577 8.87206 4.809C9.12302 4.97222 9.41583 5.05941 9.71521 5.06005H13.2848C13.5842 5.05941 13.877 4.97222 14.128 4.809C14.3789 4.64577 14.5773 4.41346 14.6993 4.14005H14.8994C15.0217 4.13863 15.1425 4.16724 15.2512 4.22338C15.3599 4.27953 15.4531 4.36148 15.5227 4.46205L17.4639 8.28005H5.53611L7.47501 4.47585ZM3.22001 9.43005H19.78V11.2701H3.22001V9.43005ZM18.1263 18.9405C18.0737 19.1797 17.9406 19.3935 17.7493 19.5462C17.558 19.699 17.32 19.7816 17.0752 19.7801H5.92481C5.67935 19.7813 5.44091 19.6982 5.24952 19.5445C5.05813 19.3908 4.92544 19.1759 4.87371 18.936L3.36721 12.4201H19.6328L18.1263 18.9405Z" fill="black"></path></svg>');
    display: block;
    margin: 0;
    position: absolute;
    top: -14px;
}

.cart-status-two {
    opacity: 0.5;
}

.cart-status-two::after {
    content: url('data:image/svg+xml;utf8,<svg width="23" height="23" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.6695 3.2564L16.3949 1.92417C16.2279 1.11519 15.5043 0.525146 14.673 0.525146C14.5543 0.525146 14.4355 0.536279 14.3205 0.562256L2.31934 3.04116H1.75527C0.786719 3.04116 0 3.82788 0 4.79272V14.7269C0 15.6955 0.786719 16.4822 1.75527 16.4822H15.8309C16.7994 16.4822 17.5861 15.6955 17.5861 14.7269V11.3017V8.21792V4.79272C17.5824 4.13218 17.215 3.55327 16.6695 3.2564ZM14.4281 1.07065C14.5098 1.0521 14.5914 1.04468 14.6768 1.04468C15.2594 1.04468 15.7715 1.45659 15.8865 2.02808L16.1018 3.05972C16.0721 3.05601 16.0461 3.05229 16.0164 3.04858C16.009 3.04858 16.0053 3.04858 15.9979 3.04858C15.9756 3.04487 15.9533 3.04487 15.9311 3.04487C15.9236 3.04487 15.9199 3.04487 15.9125 3.04487C15.8865 3.04487 15.8568 3.04116 15.8309 3.04116H4.89102L14.4281 1.07065ZM15.8309 15.9626H1.75527C1.07617 15.9626 0.519531 15.4097 0.519531 14.7269V4.79643C0.519531 4.11733 1.07246 3.5644 1.75527 3.5644H15.8309C15.868 3.5644 15.9051 3.56811 15.9422 3.56811C15.9459 3.56811 15.9533 3.56811 15.957 3.56811C15.9719 3.56811 15.983 3.57183 15.9979 3.57183C16.0053 3.57183 16.0127 3.57554 16.0238 3.57554C16.035 3.57554 16.0461 3.57925 16.0535 3.58296C16.0646 3.58667 16.0758 3.58667 16.0869 3.59038C16.0943 3.59038 16.1018 3.59409 16.1092 3.59409C16.124 3.5978 16.1389 3.60151 16.15 3.60522C16.1537 3.60522 16.1574 3.60894 16.1611 3.60894C16.1797 3.61265 16.1982 3.62007 16.2131 3.62378C16.2539 3.63862 16.2947 3.65347 16.3355 3.67202C16.3393 3.67202 16.3393 3.67202 16.343 3.67573C16.7697 3.8687 17.0666 4.29917 17.0666 4.79643V7.95815H11.7006C10.7023 7.95815 9.89336 8.76714 9.89336 9.76538C9.89336 10.7636 10.7061 11.5726 11.7006 11.5726H17.0666V14.7343C17.0629 15.4097 16.51 15.9626 15.8309 15.9626ZM17.0629 11.0494H11.7006C10.9918 11.0494 10.4129 10.4705 10.4129 9.76167C10.4129 9.05288 10.9918 8.47397 11.7006 8.47397H17.0666L17.0629 11.0494Z" fill="black"/><path d="M11.248 9.76152C11.248 10.2736 11.6674 10.693 12.1795 10.693C12.6953 10.693 13.1109 10.2736 13.1109 9.76152C13.1109 9.24941 12.6916 8.83008 12.1795 8.83008C11.6674 8.83008 11.248 9.24941 11.248 9.76152ZM12.1832 9.34961C12.4096 9.34961 12.5951 9.53516 12.5951 9.76152C12.5951 9.98789 12.4096 10.1734 12.1832 10.1734C11.9568 10.1734 11.7713 9.98789 11.7713 9.76152C11.7676 9.53516 11.9531 9.34961 12.1832 9.34961Z" fill="black"/><path d="M4.33789 14.4968H2.81641C2.67168 14.4968 2.55664 14.6119 2.55664 14.7566C2.55664 14.9013 2.67168 15.0164 2.81641 15.0164H4.33789C4.48262 15.0164 4.59766 14.9013 4.59766 14.7566C4.59766 14.6119 4.47891 14.4968 4.33789 14.4968Z" fill="black"/><path d="M7.81543 14.4968H6.29395C6.14922 14.4968 6.03418 14.6119 6.03418 14.7566C6.03418 14.9013 6.14922 15.0164 6.29395 15.0164H7.81543C7.96016 15.0164 8.0752 14.9013 8.0752 14.7566C8.0752 14.6119 7.95645 14.4968 7.81543 14.4968Z" fill="black"/><path d="M11.292 14.4968H9.77051C9.62578 14.4968 9.51074 14.6119 9.51074 14.7566C9.51074 14.9013 9.62578 15.0164 9.77051 15.0164H11.292C11.4367 15.0164 11.5518 14.9013 11.5518 14.7566C11.5518 14.6119 11.4367 14.4968 11.292 14.4968Z" fill="black"/><path d="M14.7695 14.4968H13.248C13.1033 14.4968 12.9883 14.6119 12.9883 14.7566C12.9883 14.9013 13.1033 15.0164 13.248 15.0164H14.7695C14.9143 15.0164 15.0293 14.9013 15.0293 14.7566C15.0293 14.6119 14.9143 14.4968 14.7695 14.4968Z" fill="black"/></svg>');
    display: block;
    margin: 0;
    position: absolute;
    top: -15px;
}

.cart-status-three {
    opacity: 0.5;
}

.cart-status-three::after {
    content: url('data:image/svg+xml;utf8,<svg width="23" height="23" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.5" d="M11.1291 8.73834C11.044 8.73834 10.9598 8.74395 10.8768 8.75509C10.888 8.67242 10.8936 8.58847 10.8936 8.50378C10.8936 7.68937 10.3788 6.97455 9.61258 6.72518C9.25989 6.61032 8.72133 6.47998 8.09457 6.47998H8.08267C8.29284 6.13372 8.58898 5.67591 8.94923 5.19916C9.6612 4.25697 9.59545 3.31888 8.77317 2.68987C8.40138 2.4054 7.6828 2.09536 6.70101 2.76185C6.71021 2.70076 6.71986 2.63713 6.73053 2.56799C6.91474 1.37319 6.15055 0.671385 5.36262 0.524883C4.4814 0.360651 3.71181 1.06972 3.5041 1.82031C3.41416 2.14539 3.29106 2.66253 3.15922 3.30243C2.9685 3.24105 2.72654 3.20892 2.4 3.23566C1.71458 3.292 0.892699 3.79186 0.832021 5.01547C0.758797 6.49483 1.52205 10.5163 2.36299 13.046C2.47053 13.4518 2.61807 13.8599 2.81332 14.2684C3.72469 16.175 5.25392 17.1993 7.48826 17.3999C7.6385 17.4133 7.80564 17.4221 7.9861 17.4221C9.18726 17.4221 10.9748 17.0317 12.2382 15.0299C13.0889 13.6819 13.3826 11.4805 12.9067 10.0183C12.6574 9.25272 11.9431 8.73834 11.1291 8.73834ZM4.24257 2.02471C4.35786 1.60774 4.80169 1.19983 5.22256 1.27816C5.64036 1.35583 6.0877 1.70964 5.97338 2.45126C5.87051 3.11832 5.83437 3.42133 5.82157 3.55371C5.15983 4.25169 4.14013 5.45247 3.34075 6.94714C3.59148 4.82686 4.02042 2.82733 4.24257 2.02471ZM2.38927 9.34614C2.34935 9.50296 2.31324 9.66121 2.28201 9.821C1.8499 7.89838 1.55296 5.94781 1.59727 5.05332C1.64262 4.13754 2.27118 4.01497 2.46271 3.99926C2.74602 3.97593 2.89941 4.01015 3.00948 4.06608C2.72388 5.59469 2.43967 7.56141 2.38767 9.32348C2.38744 9.33122 2.38904 9.33851 2.38927 9.34614ZM11.5902 14.6209C10.4164 16.4808 8.74857 16.7435 7.55677 16.6368C6.36385 16.5297 4.68075 16.1534 3.62418 14.1735C3.61763 14.1458 3.6087 14.1182 3.59553 14.0916C3.43464 13.7654 3.26919 13.3413 3.1056 12.8541C2.04276 8.83343 5.48317 4.96761 6.64635 3.80443C7.09325 3.35761 7.49128 3.13353 7.83589 3.13353C8.00641 3.13353 8.16391 3.18845 8.30771 3.29836C8.48287 3.43237 9.01587 3.84012 8.33793 4.73721C7.73295 5.53792 7.30572 6.27617 7.13364 6.58816C6.17782 6.81054 5.14353 7.4194 4.292 8.80378C4.18112 8.98395 4.23739 9.21993 4.41762 9.33073C4.59771 9.44161 4.83369 9.38535 4.94457 9.20511C6.36875 6.88975 8.33194 7.11369 9.37538 7.45366C9.89484 7.62275 10.1274 8.10286 10.1274 8.50374C10.1274 8.79898 10.011 9.07828 9.8005 9.2895C9.50662 9.58264 9.07071 9.6912 8.68996 9.56634C7.97557 9.33199 7.11397 9.58093 6.49446 10.2003C5.60328 11.0915 5.47721 12.4227 6.20738 13.2308C6.66258 13.7344 7.35398 14.0458 8.05684 14.0636C8.61499 14.0761 9.10237 13.907 9.42641 13.5829C10.2095 12.7999 10.3117 11.6917 10.0655 10.9407C9.94034 10.5593 10.0487 10.1241 10.3419 9.83157C10.5529 9.62064 10.8324 9.50445 11.1291 9.50445C11.6179 9.50445 12.0297 9.79924 12.1781 10.2553C12.5847 11.5047 12.321 13.4631 11.5902 14.6209ZM9.33754 11.1795C9.51067 11.7077 9.4378 12.4881 8.88474 13.0412C8.71303 13.2129 8.41974 13.3062 8.07623 13.2977C7.57912 13.2851 7.09303 13.068 6.77587 12.7171C6.27317 12.1608 6.51963 11.2587 7.03624 10.7421C7.35625 10.4221 7.75765 10.2441 8.12704 10.2441C8.23904 10.2441 8.34821 10.2605 8.45117 10.2943C8.71753 10.3817 8.99398 10.4053 9.26176 10.3696C9.22637 10.6372 9.25015 10.9133 9.33754 11.1795Z" fill="black"/></svg>');
    display: block;
    margin: 0;
    position: absolute;
    top: -15px;
}

.product-items {
    font-family: var(--karla);
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    /* display: flex; */
    /* align-items: center; */
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.cart-items-counts {
    margin-top: 5vh;
}

.container {
    cursor: default;
}

.inner-card.cart-procucts {
    padding: 10px;
}

.card-details {
    /* background: rgba(117, 209, 209, 0.1); */
    background: rgb(241 250 250);
    border-radius: 2px;
    padding: 20px;
}

.del {
    cursor: pointer;
}

.summery-head {
    font-family: var(--karla);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    /* display: flex; */
    /* align-items: center; */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.price-and-others {
    font-family: var(--karla);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.price_and_others_label {
    font-family: var(--karla);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 71% */
    color: #000000;
    opacity: 0.5;
}

.coupone-card-label {
    opacity: 0.5;
    Size: 15px;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.shipping-date {
    font-family: var(--karla);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    opacity: 0.5;
}

.user_name {
    opacity: 1;
}

.address-change a {
    font-family: var(--karla);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 10px;
    /* identical to box height, or 71% */
    text-decoration-line: underline;
    color: #000000;
}

.address-change {
    margin-top: 10px;
}

.delivery-information {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    color: #000000;
}

.background-diff-address {
    background: #FFFFFF;
    border-radius: 2px;
    float: left;
    padding: 10px;
    margin-top: 20px;
}

.main-submit {
    padding: 10px 54px;
    width: 100% !important;
    float: left;
    line-height: 21px;
}

.row.extra-gaap {
    max-width: 98%;
    margin: 0 auto;
}


/* *********************** CART PAGE CSS END ***********************  */


/* *********************** CART PAYMENT DETAILS PAGE CSS START ***********************  */

.selected-content {
    text-align: left;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0);
    border: solid 2px transparent;
    background: #fff;
    max-width: 100%;
    height: auto;
    padding: 15px;
    transition: .3s ease-in-out all;
}

.selected-content h4 {
    font-family: var(--karla);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 171% */
    display: flex;
    align-items: center;
    color: #101010;
}

.selected-label {
    position: relative;
    width: 100%;
    box-shadow: 2px 5px 9px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    cursor: pointer;
}

.selected-label input {
    display: none;
}

.selected-label .icon {
    width: 20px;
    height: 20px;
    border: solid 2px #e3e3e3;
    border-radius: 50%;
    position: absolute;
    top: 17px;
    right: 15px;
    transition: .3s ease-in-out all;
    transform: scale(1);
    z-index: 1;
}

.selected-label .icon:before {
    content: "\f00c";
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    color: #000;
    text-align: center;
    opacity: 0;
    transition: .2s ease-in-out all;
    transform: scale(2);
    top: -1px;
}

.selected-label input:checked+.icon {
    background: #75D1D1;
    border-color: #75D1D1;
    transform: scale(1.2);
}

.selected-label input:checked+.icon:before {
    color: #fff;
    opacity: 1;
    transform: scale(.8);
}

.selected-label input:checked~.selected-content {
    /* border: solid 1px #ffe15b; */
    background: linear-gradient(0deg, #F1FAFA, #F1FAFA), #FFFFFF;
    box-shadow: 2px 5px 9px rgba(0, 0, 0, 0.04);
}

.nice-select-main_select {
    float: left;
    width: 100%;
}

.custom-nice-select {
    width: 100%;
    border: none;
    border-bottom: 1px solid #E5E5E5;
    border-radius: 0;
    padding-left: 0;
}

.already-head {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2D2C30;
    opacity: 0.5;
}

.half-cart {
    max-width: 62%;
}

.payment-card {
    width: 177px;
    padding: 10px;
    float: left;
    margin-right: 20px;
    box-shadow: 0 2px 4px 0 rgb(219 215 215 / 0%);
}

.card-one {
    background: linear-gradient(53.46deg, #B83564 3.25%, #E7568A 97.05%);
    box-shadow: 5px 2px 9px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.card-two {
    background: linear-gradient(226.45deg, #FEDF5B 10.76%, #E7B160 100%);
    box-shadow: 5px 2px 9px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.cart-info {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    /* or 200% */
    letter-spacing: 0.4px;
    color: #FFFFFF;
    margin-top: 8vh;
}


/* *********************** CART PAYMENT DETAILS PAGE CSS END ***********************  */


/* *********************** CART product status PAGE CSS start ***********************  */

.container.mt-3.mex-width {
    max-width: 80%;
}

.status-timeline-card {
    background: #FFFFFF;
}

.status-timeline-card {
    background: #FFE15B;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.line-dotter {
    width: 23vw;
    height: 2px;
    border-bottom: 0.5px dashed #000000;
}

.status_label {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    color: #000000;
    opacity: 0.5;
}

.card-status-shadow {
    box-shadow: 2px 5px 9px rgb(0 0 0 / 4%);
    border-radius: 5px;
}

.active-statsu {
    opacity: 1;
    font-weight: bolder;
}

.line-dotter {
    width: 18vw;
    height: 2px;
    margin-top: 3vh;
    border-bottom: 0.5px dashed #000000;
    opacity: 0.5;
}

.line-dotter_active {
    opacity: 1;
}

.status_info {
    text-align: center;
}

.status_info p:nth-child(1) {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: center;
    color: #000000;
    opacity: 0.5;
    margin-top: 5vh;
}

.status_info p:nth-child(2) {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 18px;
    /* identical to box height, or 129% */
    color: #000000;
    margin-top: 3vh;
}

.status_info p:nth-child(2) a {
    text-decoration-line: underline;
    color: #E7568A;
    font-weight: normal;
}

.shop-color:hover {
    color: #000;
}

.blue-card {
    background: linear-gradient(0deg, #F0FAFA, #F0FAFA), #FFFFFF;
    /* box-shadow: 2px 5px 9px rgba(0, 0, 0, 0.04); */
    border-radius: 2px;
}

.blue-card-blue-back {
    background: linear-gradient(0deg, #F0FAFA, #F0FAFA), #FFFFFF;
}

.orer-id {
    font-size: 18px !important;
    line-height: 24px !important;
    letter-spacing: 0.4px !important;
    text-transform: uppercase !important;
    color: #101010 !important;
    margin-top: 1vh !important;
}

.status_info.pb-2::before {
    content: "";
    width: 86%;
    height: 2px;
    border-bottom: 2px dashed #FFFFFF;
    position: absolute;
    left: 22px;
    top: 100px;
}

.success-massage {
    text-align: center;
}

.massage-head {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #101010;
}

.sub-massage {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
}

.balkae-box {
    /* position: absolute; */
    bottom: 0px;
}

.balkae-box {
    margin-top: 10vh;
}

.blue-card:before {
    content: '';
    position: absolute;
    left: 0;
    top: 21%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #fff;
    border-right: 0;
    margin-top: -20px;
    margin-right: -20px;
}

.blue-card::after {
    content: '';
    position: absolute;
    right: 0;
    top: 21%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #fff;
    border-left: 0;
    margin-top: -20px;
    margin-left: -20px;
}

.head-summary {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2D2C30;
}

.summary-details {
    background: #FFFFFF;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.05);
    padding: 10px 18px;
    margin-top: 5vh;
}

.order-track {
    text-align: right;
    line-height: 1em;
}

.order-track a {
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 171% */
    letter-spacing: 0.4px;
    text-decoration-line: underline;
    color: #000000;
    opacity: 0.4;
}

.order-info-head {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
    margin-top: 1vh;
}

.order-status {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #000000;
}

.order_info {
    margin-right: 21px;
    margin-top: 10px;
}

.product-image {
    margin-right: 10px;
}

.small-details_link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    letter-spacing: 0.4px;
    text-decoration-line: underline;
    color: #000000;
}

.product-price {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    color: #000000;
}

.small-product-disc {
    margin-top: -7px;
}

.customize-row-style {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 3vh;
    left: 14px;
}

.customize-row-style:last-child {
    border-bottom: 1px solid transparent;
    margin-bottom: 0vh;
}

.two-card {
    background: rgb(241 250 250);
}

.no-left_padding {
    padding-left: 0px;
}

.only_mobile {
    display: none;
}

.only_mobile-flex {
    display: none;
}

@media (max-width: 767px) {
    .only-desktop-details {
        display: none;
    }
    .container.mt-3.mex-width {
        max-width: 100%;
        padding-left: 15px;
    }
    .status_info p:nth-child(1) {
        padding-top: 4vh;
        margin-top: 0;
    }
    .balkae-box {
        margin-top: 3vh;
    }
    .blue-card:before {
        left: 15px;
        top: 27.9%;
    }
    .blue-card::after {
        right: 15px;
        top: 28.5%;
    }
    .py-2.status-timeline-card {
        position: absolute;
        width: 100%;
        margin-left: -15px;
        border-radius: 0px;
    }
    .blue-card-blue-back {
        background: linear-gradient(0deg, #ffffff00, #ffffff00), #ffffff00;
        margin-bottom: 56px;
    }
    p.sub-massage.mt-3 {
        position: absolute;
        bottom: -31px;
        left: 29%;
    }
    .status_details_card {
        position: relative;
        top: 68px;
    }
    .mobile-alignment {
        margin-top: 8px !important;
    }
    .card-status-shadow {
        box-shadow: 2px 5px 9px rgb(0 0 0 / 0%);
    }
    .mt-4.mobile-alignment-button {
        margin-top: 65px !important;
    }
    .summary-details {
        background: #FFFFFF;
        box-shadow: 0px 0px 9px rgb(255 255 255 / 5%);
        margin-top: 0;
    }
    .col-md-6.no-left_padding {
        display: none;
    }
    .two-card {
        background: rgb(255 255 255 / 0%);
    }
    .card-details {
        background: rgb(241 250 250 / 0%);
        border-top: 1px solid #00000036;
        border-bottom: 1px solid #00000036;
    }
    .only_mobile {
        display: block;
    }
    .only_web {
        display: none;
    }
    .customize-row-style {
        margin-top: 23px;
        margin-bottom: 0;
    }
    .style-mob {
        margin-left: 10px;
        line-height: 2.5em;
    }
    .col.mobile-shadow {
        box-shadow: 2px 2px 10px rgb(0 0 0 / 4%);
    }
    .col.mobile-shadow {
        box-shadow: 2px 2px 10px rgb(0 0 0 / 4%);
        padding: 15px 15px;
    }
    .row.mt-5.main-gaap-style {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 18px;
    }
    h2.head-summary.mob-summary-head {
        position: absolute;
        top: -33px;
    }
    .half-cart {
        max-width: 100%;
    }
    .no-padding-mob {
        padding-left: 0px;
        padding-right: 0px;
    }
    .style-responsive {
        width: auto !important;
    }
    .payment-card {
        margin-right: 4px;
    }
    p.summery-head.only_mobile a {
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-decoration-line: underline;
        color: #101010;
        margin-top: 20px;
    }
    .line-dotter_active_mobile {
        width: 10vw;
    }
    .container.alignment-mob-style {
        padding-left: 15px;
    }
    p.product-items {
        text-align: center;
    }
    .card-details.change-mobile-version {
        border-top: 1px solid #00000000;
        padding-left: 0px;
        padding-right: 10px;
    }
    .card-details.change-mobile-version {
        border-top: 1px solid #00000000;
        padding-left: 10px;
        padding-right: 10px;
        background: rgb(241 250 250);
        border-bottom: 1px solid #00000000;
        margin-top: 20px;
    }
    .non-pading-style {
        padding: 0px;
    }
    .container {
        padding-left: 15px;
    }
    .only_mobile-flex {
        display: flex;
        margin-top: 10px;
    }
    a.checkout-button.main-submit.no-background {
        background: #fff;
        border: 1px solid gray;
    }
    span.coupone-card-label {
        display: none;
    }
}


/* *********************** CART product status PAGE CSS end ***********************  */


/* *********************** Contact PAGE CSS start ***********************  */

.signature-style {
    font-family: var(--photograph);
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 35px;
    color: #1F2D3D;
    transform: rotate( -3deg);
}

.container.small-cut-out {
    max-width: 85%;
    margin: 0 auto;
}

p.sub-signature {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-top: 5vh;
}

.white-card-content {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    padding-bottom: 10px;
}

.white-card-content a {
    color: #000;
}

.white-card {
    background: #FFFFFF;
    box-shadow: 2px 5px 9px rgb(0 0 0 / 4%);
    border-radius: 5px;
    padding: 25px 20px;
    margin-top: 3vh;
}

.top-text-gaap {
    margin-top: 10px;
}

.white-card.small-white-card {
    padding-bottom: 42px;
}

.contact-image-style {
    width: 100%;
}

@media (max-width: 767px) {
    .container.small-cut-out {
        max-width: 100%;
        margin: 0 auto;
        /* padding: 0; */
    }
}


/* *********************** Contact PAGE CSS end ***********************  */


/* *********************** About us PAGE CSS start ***********************  */

.heading-style {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.heading-style-signature {
    font-family: var(--photograph);
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 6px;
    /* display: flex; */
    align-items: center;
    letter-spacing: 1px;
    color: #2D2C30;
}

p.about-paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.4px;
    color: #000000;
    opacity: 0.5;
    margin-top: 5vh;
}

.content-box {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-43%, -50%);
}

.margin-down-style {
    margin-top: 10px;
    position: absolute;
    top: 3px;
}

.heading-style-center {
    text-align: center;
}

.about-heading-style {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 50px;
    letter-spacing: 0.4px;
    color: #148484;
}

.container.big-gapping.mt-2 {
    margin-top: 18vh !important;
    margin-bottom: 18vh !important;
}

.user-profile {
    margin-top: 10vh;
}

.profile_name {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */
    letter-spacing: 0.4px;
    color: #000000;
    opacity: 0.5;
}

@media (max-width: 767px) {
    .content-box {
        position: inherit;
        top: 50%;
        left: 44%;
        transform: translate(-43%, -50%);
        margin-top: 10px;
        padding-bottom: 28px;
    }
    .heading-style {
        font-size: 18px;
        line-height: 60px;
    }
    .heading-style-signature {
        font-size: 48px;
    }
    p.about-paragraph {
        margin-top: 8vh;
        font-size: 14px;
        line-height: 20px;
    }
    .margin-down-style {
        top: 12px;
    }
    p.about-paragraph.mob_alignment_gaap {
        margin-top: 2vh;
        margin-bottom: 5vh;
    }
    p.mob_alignment_gaap-two {
        margin-top: 4vh;
    }
    .about-heading-style {
        font-size: 16px;
        line-height: 21px;
    }
    .user-profile {
        margin-top: 7vh;
    }
    .profile_name {
        font-size: 17px;
    }
    .profile-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
    }
}


/* *********************** About us PAGE CSS end ***********************  */


/* *********************** Our values PAGE CSS start ***********************  */

.value_main_head {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 24px;
    /* identical to box height, or 75% */
    /* display: flex; */
    /* align-items: center; */
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}

.value_main-para {
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    letter-spacing: 0.4px;
    color: #000000;
    opacity: 0.5
}

.value-text-head {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #101010;
}

.value-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-top: 2vh;
}

.value-blue-card {
    background: linear-gradient(0deg, #f8fefe, #f8fefe), #f8fefe;
    /* opacity: 0.3; */
    border-radius: 5px;
}

img.badges-one {
    margin-left: -50%;
}

.p-2.bd-highlight {
    padding: 46px 21px 0px 21px !important;
}

img.badges-one {
    margin-left: -76%;
    margin-top: -25%;
    padding-bottom: 24px;
}

.d-flex.flex-row.bd-highlight.mb-3.value-blue-card {
    margin-left: 65px;
}

.p-2.bd-highlight.badges-icon {
    width: 138px;
}

.value-red-card {
    background: #fff7fa;
    border-radius: 5px;
}

.p-2.bd-highlight.some_alignment-on-largr_text {
    padding-top: 24px !important;
}

.big-blue {
    min-height: 485px;
}

.value-yellow-card {
    background: linear-gradient(0deg, rgb(255 249 222), rgb(255 249 222)), #FFFFFF;
}

.big-blue-two {
    min-height: 390px;
}

@media (max-width: 767px) {
    p.value_main_head {
        font-size: 18px;
        line-height: 22px;
    }
    p.pt-5.value_main-para {
        padding-top: 20px !important;
        font-size: 16px;
        line-height: 25px;
    }
    img.badges-one {
        width: 100px;
        margin-left: -70%;
        margin-top: -8%;
    }
    .p-2.bd-highlight.badges-icon {
        width: 69px;
    }
    .d-flex.flex-row.bd-highlight.mb-3.value-blue-card {
        margin-left: 27px;
    }
    .p-2.bd-highlight {
        padding: 17px 17px 17px 0 !important;
    }
    p.value-text-head {
        font-size: 15px;
        line-height: 24px;
    }
    p.value-text-head {
        font-size: 14px;
        line-height: 18px;
    }
    .big-blue,
    .big-blue-two {
        min-height: auto;
    }
    .value-card.mt-5 {
        margin-top: 5px !important;
    }
}


/* *********************** Our values PAGE CSS end ***********************  */


/* *********************** Gifts Cards PAGE CSS start ***********************  */

.gift-card-details {
    font-size: 18px;
    line-height: 1.5em;
    color: #000000;
    opacity: 0.5;
}

.input-container {
    position: relative;
    display: inline-block;
    width: 135px;
    height: 65px;
}

.select-checkbox {
    display: none;
}

.select-checkbox:checked+label {
    background-color: #d8d8d8;
}

.select-indicator {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px;
    padding: 0 10px;
    color: #000;
    text-align: center;
    line-height: 54px;
    background-color: #ccc0;
    border-radius: 4px;
    border: 1px solid #bdbdbd;
}

.select-indicator:hover {
    cursor: pointer;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}


/* .select-indicator:hover,
.select-checkbox:checked+label:hover {
    background-color: #555;
} */

.nice-select-model-status {
    /* margin-top: 10px; */
    /* margin-left: -14px; */
    width: 100px;
    float: none;
}

a.checkout-button.model-button-submitt {
    padding: 10px 20px;
}

.next-button {
    margin-top: 10px;
}

.model-field-width {
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.05));
    border-radius: 2px;
}

p.value_main_head {
    line-height: 1.5em;
}

img.bg-one-image {
    position: absolute;
    right: 0;
}

.total-section {
    background: #FAFBFC;
    position: relative;
    overflow: hidden;
}

a.checkout-button.gift-button {
    padding: 6px 20px;
}

.discount {
    color: #E7568A;
}

@media (max-width: 767px) {
    .only_mobile {
        display: block;
    }
    .only_web {
        display: none;
    }
    .d-flex.bd-highlight.mb-3 {
        margin-bottom: 0px !important;
    }
    .col-md-4.mb-4.mb-sm-1 {
        margin-bottom: 5px !important;
    }
    .gift-card-details {
        font-size: 16px;
    }
    .input-container {
        width: 93px;
        height: 50px;
    }
    .select-indicator {
        line-height: 40px;
    }
    .d-flex.flex-row.bd-highlight.mb-1.no-flex-box {
        display: block !important;
    }
    .no-flex-box>.bd-highlight {
        display: inline-block;
    }
    .model-field-width {
        width: 90%;
    }
    img.bg-one-image {
        display: none;
    }
    .total-section {
        background: #fafbfc00;
    }
}


/* *********************** Gifts Cards PAGE CSS end ***********************  */


/* *********************** Wishlist PAGE CSS end ***********************  */

p.wishlist-head svg {
    margin-top: -2px;
}

p.wishlist-head {
    font-size: 18px;
    font-weight: bolder;
}

label.form-check-label {
    cursor: pointer;
    color: #000000;
    opacity: 0.5;
}

.wishlist-check {
    cursor: pointer;
    opacity: 0.7;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
}

.max-width-style {
    width: 94%;
    margin: 0 auto;
}

.reduce-bottom-gaap {
    margin-bottom: 0px;
    margin-top: 0px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.love-icon {
    right: 25px;
    top: 10px;
}

.tutorial_head {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
}

@media (min-width: 576px) {
    .custom-width-style {
        max-width: 650px;
        margin: 1.75rem auto;
    }
}

.tutorial-sub-text {
    color: #000000;
    opacity: 0.5;
    font-size: 12px;
    line-height: 15px;
    margin-top: 15px;
}

.tutorial-slide img {
    width: 100%;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.tutorial-slide {
    width: 60%;
    margin: 0 auto;
}


/* .wishlist-line {
    width: 100px;
    opacity: 0.21;
    border: 2px solid #E7568A;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 10px;
}

.progress *:not([data-progress]) {
    margin: 0px 0;
    font-size: 0px;
} */


/* .progress {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    box-sizing: border-box;
} */


/* .progress {
    height: 6px;
    margin-top: 12px;
    background-color: #e9ecef00;
}

.progress [data-progress] {
    height: 5px;
    width: 100px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25) inset;
    border-radius: 2px;
    overflow: hidden;
}

[data-progress]::after {
    content: "";
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: linear-gradient(#e7568a, #e7568a 50%, #e7568a 50%);
    width: 0;
    height: 100%;
    box-sizing: border-box;
    font-size: 10px;
    color: rgba(255, 255, 255, 0);
    padding: 0 3px;
    transition: 2s;
}

[data-progress].animate-progress::after {
    content: attr(data-progress) "%";
    width: var(--animate-progress);
} */


/* .progress-bar.animate {
    width: 100%;
} */


/* .progress {
    height: 6px;
    transition: 2s;
}

.middle-space {
    width: 65%;
    margin: 0 auto;
}

.middle-space::before {
    content: url(../img/love.png);
    position: absolute;
    left: 75px;
    top: 47%;
}

.progress {
    background-color: #e7568a38;
}

.progress-bar.bar {
    background-color: #E7568A;
} */

button.btn.btn-default.hide.mt-4.close-button {
    border: 2px solid #efefef;
    background: #fff0;
    padding: 8px 50px;
}

.select-wishlist-range #form-title {
    margin-top: 0;
    font-weight: 400;
    text-align: center;
}

.select-wishlist-range #debt-amount-slider {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    position: relative;
    width: 100%;
    height: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: 23px;
}

.select-wishlist-range #debt-amount-slider::before {
    content: " ";
    position: absolute;
    height: 2px;
    width: 100%;
    width: calc(100% * (4 / 5));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e7568a;
    opacity: 0.5;
}

.select-wishlist-range #debt-amount-slider input,
.select-wishlist-range #debt-amount-slider label {
    box-sizing: border-box;
    flex: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.select-wishlist-range #debt-amount-slider label {
    display: inline-block;
    position: relative;
    width: 20%;
    height: 11px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* background: red; */
    top: 19px;
}

.select-wishlist-range #debt-amount-slider label::after {
    content: " ";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 11px;
    height: 29px;
    border: 2px solid #fff;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.select-wishlist-range #debt-amount-slider label:hover::after {
    transform: translate(-50%, -50%) scale(1.25);
}

.select-wishlist-range #debt-amount-slider input {
    display: none;
}

.select-wishlist-range #debt-amount-slider input:checked+label::before {
    font-weight: 800;
    opacity: 1;
}

.select-wishlist-range #debt-amount-slider input:checked+label::after {
    border-width: 4px;
    transform: translate(-50%, -50%) scale(0.75);
}

.select-wishlist-range #debt-amount-slider input:checked~#debt-amount-pos {
    opacity: 1;
}

.select-wishlist-range #debt-amount-slider input:checked:nth-child(1)~#debt-amount-pos {
    left: 10%;
}

.select-wishlist-range #debt-amount-slider input:checked:nth-child(3)~#debt-amount-pos {
    left: 30%;
}

.select-wishlist-range #debt-amount-slider input:checked:nth-child(5)~#debt-amount-pos {
    left: 50%;
}

.select-wishlist-range #debt-amount-slider input:checked:nth-child(7)~#debt-amount-pos {
    left: 70%;
}

.select-wishlist-range #debt-amount-slider input:checked:nth-child(9)~#debt-amount-pos {
    left: 90%;
}

.select-wishlist-range #debt-amount-slider #debt-amount-pos {
    display: block;
    position: absolute;
    top: 50%;
    width: 17px;
    height: 17px;
    background: #FFE15B;
    border-radius: 50%;
    transition: all 0.15s ease-in-out;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    opacity: 0;
    z-index: 2;
}

.select-wishlist-range:valid #debt-amount-slider input+label::before {
    transform: translate(-50%, 45px) scale(0.9);
    transition: all 0.15s linear;
}

.select-wishlist-range:valid #debt-amount-slider input:checked+label::before {
    transform: translate(-50%, 45px) scale(1.1);
    transition: all 0.15s linear;
}

@-webkit-keyframes spin {
    from {
        transform: rotate(0deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }
    to {
        transform: rotate(360deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }
    to {
        transform: rotate(360deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }
}

.product-style::after {
    content: url(../img/vector-love.png);
    position: absolute;
    left: -20px;
    top: 28%;
}

.product-style-gaap {
    margin-top: 0px;
}

@media (max-width: 767px) {
    .tutorial-slide {
        width: 100%;
    }
    .fill-width-custom {
        display: block !important;
        position: relative;
    }
    .product-style::after {
        left: -20px;
        top: 27%;
        transform: scale(0.9);
    }
    .select-wishlist-range #debt-amount-slider {
        left: 17px;
    }
    .love-icon {
        width: 35px;
        height: 33px;
        right: 21px;
        top: 7px;
    }
    .wishlost-bag {
        font-size: 15px;
        color: #000000;
        opacity: 0.5;
    }
    p.align-right.only_mobile {
        float: right;
        position: absolute;
        right: 26px;
        top: 10px;
    }
}


/* *********************** Wishlist PAGE CSS end ***********************  */