/**********Dashboard order**********/

.order-selects .nice-select {
    width: 100%!important;
}

.order-selects .nice-select .option:hover,
.order-selects .nice-select .option.focus,
.order-selects .nice-select .option.selected.focus {
    background-color: rgba(255, 225, 91, 0.5);
    margin: 5px;
}

.order-selects p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #000;
    margin-bottom: 15px;
}

.nice-select.open .list {
    width: 100%;
}

.order-selects .nice-select .option {
    text-transform: uppercase;
}

.order-selects .nice-select span.current {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.order-block {
    background: #FFFFFF;
    box-shadow: 0px 0px 9px rgb(0 0 0 / 5%);
    padding: 25px 25px;
    position: relative;
    z-index: 2;
}

.order-number {
    color: #101010;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

.track-order {
    top: 25px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    text-decoration: underline;
    position: absolute;
    right: 25px;
}

.order-status p.status-head {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 7px;
}

.order-status p {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #000000;
}

.order-status {
    margin-bottom: 15px;
}

.oproduct-img img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.order-product {
    display: flex;
}

.orderp-details a {
    font-weight: normal;
    font-size: 14px;
    line-height: 0px;
    letter-spacing: 0.4px;
    text-decoration-line: underline;
    color: #000000;
}

.oproduct-img {
    margin-right: 15px;
}

.orderp-details {
    display: grid;
    align-items: center;
}

.orderp-details p.o-price {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    margin-top: 15px;
}

.ordr-btns {
    position: absolute;
    right: 25px;
    bottom: 25px;
    display: grid;
}

.ordr-btns a {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-decoration-line: underline;
    color: #000000;
}

.order-block a:hover {
    color: var(--pink);
}

.wrap {
    padding-bottom: 40px;
}

.order-status p.position-relative {
    padding-left: 20px;
}

.order-status p img {
    position: absolute;
    left: 0;
    top: 5px;
}

.dasboard.order-his .wrap {
    padding-bottom: 50px;
}

@media (max-width: 767px) {
    .dasboard.order-his {
        position: relative;
    }
    .dasboard.order-his:after {
        content: "";
        width: 100%;
        background: #fff;
        position: absolute;
        top: 17%;
        left: 0;
        height: 83%;
    }
    .order-block {
        padding-bottom: 100px;
    }
    .track-order {
        top: unset;
        right: unset;
        bottom: 80px;
    }
    .ordr-btns {
        bottom: 30px;
        right: unset;
    }
    .order-product {
        margin-bottom: 25px;
    }
    .oproduct-img img {
        width: 78px;
        height: 78px;
    }
    .orderp-details a {
        line-height: 24px;
        margin-top: -10px;
    }
    .orderp-details p.o-price {
        margin-top: 10px;
    }
    .dasboard.order-his .wrap {
        max-height: unset;
        overflow-y: unset;
        padding-bottom: 40px;
        height: 100%;
    }
    .dasboard.order-his .dash-left {
        display: none;
    }
}

@media (max-width: 360px) {
    .order-selects .nice-select span.current {
        font-size: 3.2vw;
    }
    .order-selects .nice-select .option {
        font-size: 3.3vw;
    }
    .order-status p.status-head {
        font-size: 3.3vw;
    }
    .order-status p {
        font-size: 3.3vw;
    }
}


/******Track field*************/

.rightbox {
    padding: 0em 5rem 0em 0em;
    height: 100%;
}

.rb-container {
    width: 100%;
    margin: auto;
    display: block;
    position: relative;
}

.rb-container ul.rb {
    margin: 1.5em 0 0 0;
    padding: 0;
    display: inline-block;
}

.rb-container ul.rb li {
    list-style: none;
    margin: auto;
    margin-left: 7em;
    min-height: 50px;
    border-left: 1px dashed #75D1D1;
    padding: 0 0 30px 30px;
    position: relative;
}

.rb-container ul.rb li:last-child {
    border-left: 0;
}

.rb-container ul.rb li::before {
    position: absolute;
    left: -10px;
    top: -5px;
    content: " ";
    border: 6px solid rgba(255, 255, 255, 1);
    border-radius: 500%;
    background: #75D1D1;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
    border-color: #232931;
    transition: all 1000ms ease-in-out;
}

ul.rb li .timestamp {
    position: absolute;
    width: 100px;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
    left: -30%;
    top: -4px;
}

.item-title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #000000;
    transform: translateY(-4px);
}

.item-tdet {
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
    font-weight: 600;
}

.tlat-date {
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #000000;
    padding-left: 20px;
}

.rightbox {
    border: 1px solid #75D1D1;
    border-radius: 5px;
    padding: 30px 0px 0px 0px;
}

.order-detailst p:last-child {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.order-detailst p {
    font-size: 14px;
    font-weight: 500;
}

.dash-modal h5.modal-title {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #101010;
}

.dash-modal .modal-header {
    padding-bottom: 0;
}

p.track-no {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #101010;
    margin-bottom: 10px;
    font-weight: 700;
}

.btn-track {
    background: rgba(255, 225, 91, 0.5);
    border-radius: 2px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #101010;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

@media (max-width: 425px) {
    .rb-container ul.rb li {
        margin-left: 90px;
    }
    ul.rb li .timestamp {
        left: -70px;
    }
}


/**********Dashboard order**********/


/**********Dashboard Profile**********/

.country-code {
    position: absolute;
    top: 42px;
    width: 40px;
    display: flex;
    justify-content: center;
    border-right: 1.5px solid #ccc;
    border-radius: 2px;
}

input#inputCN {
    padding-left: 50px;
}

.sv-address {
    background: rgb(255 255 255 / 70%);
    box-shadow: 0px 0px 9px rgb(0 0 0 / 5%);
    border-radius: 2px;
    padding: 15px 20px;
    margin-bottom: 15px;
}

.add-address {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.add-address p {
    font-size: 14px;
    line-height: 10px;
    color: #000000;
    opacity: 0.7;
}

.btn-track {
    background: rgba(255, 225, 91, 0.5);
    border-radius: 2px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #101010;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

.profile-form .form-control,
.address-field .form-control {
    background: rgb(255 255 255 / 70%);
    box-shadow: 0px 0px 9px rgb(0 0 0 / 5%);
    border-radius: 2px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: rgb(0 0 0 / 70%);
    height: 40px;
}

.profile-form label,
.profile-form p,
.address-field label {
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    opacity: 0.7;
}

.profile-form .form-control:focus,
.address-field .form-control:focus {
    border-color: var(--yellow);
}

.profile-form {
    z-index: 2;
    position: relative;
}

@media (max-width: 767px) {
    .pf-btns {
        width: 100%;
    }
    .pf-btns button {
        width: 100%;
    }
    .Edit-pf {
        display: none!important;
    }
}